.MovieList {
  box-sizing: border-box;
  padding: 10px 20px 10px 30px;
}


.MovieList h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.MovieList p {
  margin-left: 10px;
  margin-right: 5px;
}

.MovieList ul {
  list-style: none;
  padding: 0;
  max-height: 500px;
  overflow: auto;
}

.MovieList li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  padding: 5px 0;
  border-bottom: 1px solid rgb(242, 242, 242);
}


.MovieList .imgContainer {
  max-width: 50px;
  min-width: 50px;
  max-height: 74px;
  min-height: 74px;
  overflow: hidden;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.MovieList img {
  width: 100%;
}

.MovieList button {
  margin-left: auto;
  margin-right: 10px;
}


.missingImage {
  width: 30px !important;
  margin: 0 auto !important;
  display: inline-block;
  color: #ababab
}

.smallText {
  font-size: 12px;
  margin: 0 0 0 0 !important;
}